# Auto-detect text files and perform LF normalization
* text=auto eol=lf

# Explicitly declare text files to ensure they are normalized
*.js text
*.jsx text
*.ts text
*.tsx text
*.html text
*.css text
*.json text
*.md text
*.yml text